<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/">
       <h2>Validate Your certificate</h2>
      </a>
      <a href="/admin/createnew"><button type="button" class="btn btn-light">Add Certificate</button></a>
    </div>
  </nav>