<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./Partials/header.ejs') %>
    <link rel="stylesheet" href="./CSS/createnew.css">
    <title>Create New Certificate</title>
</head>
<body>
    <%- include('./Partials/navbar.ejs') %>

    <h1 style="text-align: center; font-size: 2.5em; color: #4CAF50; margin-top: 20px;">ENTER THE DETAILS HERE</h1>
    <div class="container">
    <form action="/admin/createnew" method="POST">
        <div class="mb-3" >
          <label for="exampleInputEmail1" class="form-label">Enter Student Name</label>
          <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Enter College Name</label>
          <input type="text" class="form-control" name="collegeName" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Enter Student Position</label>
          <input type="text" class="form-control" name="position" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Enter Event Name</label>
          <input type="text" class="form-control" name="eventName" id="exampleInputPassword1">
        </div> 
        <button type="submit" class="btn btn-primary">Submit</button>
      </form></div>
    <%- include('./Partials/script.ejs') %>
</body>
</html>


