<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./Partials/header.ejs') %>
        <link rel="stylesheet" href="./CSS/home.css">
        <title>Verify Your Certificate</title>
    </head>

<body>
    <%- include('./Partials/navbar.ejs') %>
    <%- include('./Partials/script.ejs') %>
</body>
</html>