<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/header.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./Partials/navbar.ejs') %>
    <form action="/send-email" method="POST">
        <input type="email" name="email" placeholder="Your email" required>
        <input type="text" name="subject" placeholder="Subject" required>
        <textarea name="message" placeholder="Your message" required></textarea>
        <button type="submit">Send</button>
    </form>
    <%- include('./Partials/script.ejs') %>
    <%- include('./Partials/footer.ejs') %>
</body>
</html>