<!DOCTYPE html>
<html lang="en">
<%- include('./Partials/header.ejs') %>
<body>
    <!-- <%- include('./Partials/navbar.ejs') %> -->

    <h1>validate certificate</h1>
    <%- include('./Partials/script.ejs') %>
</body>
</html>